
*{
	  font-family: 'Asap', sans-serif;
}
body {
  background-color: rgba(244, 91, 105, 1);
  font-family: 'Asap', sans-serif;
 background-image: url(../template/backgroundAPP.jpg);
}

.login {
  justify-content: center;
  align-items: center;
	text-align:  center;
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  width: 400px;
  @include transform(translate(-50%, -50%));
  @include transition(transform 300ms, box-shadow 300ms);
  box-shadow: 5px 10px 10px black;
  
}

login::before, login::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(rgba(69, 105, 144, 1), 0.15);
    @include animation(wawes 6s infinite linear);
  }
  
  login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(rgba(2, 128, 144, 1), 0.2);
    @include animation(wawes 7s infinite);
  }
  
  input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(255 218 218);
	border:0;
    width: 99%;
    padding: 10px 0 ;
    padding-left: 4px;
    margin-top: 10px;
  }
  
  input::-webkit-file-upload-button{
	font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    width: 35%;
    border: solid;
    padding: 10px 0;
   
    border-radius: 5px;
    background-color: rgba(244, 91, 105, 1);
    @include transition(background-color 300ms);
    border-color: rgb(255, 255, 255);
      border-width: 2px;
} input::-webkit-file-upload-button:hover {
      background-color:rgb(255, 255, 255);
      color: rgba(244, 91, 105, 1);
      border: solid;
      border-color: rgba(244, 91, 105, 1);
      border-width: 2px;
  }
  
  button {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    border: solid;
    padding: 10px 0;
    margin-top: 10px;
    
    border-radius: 5px;
    background-color: rgba(244, 91, 105, 1);
    @include transition(background-color 300ms);
    border-color: rgb(255, 255, 255);
      border-width: 2px;

    
   
  }
  button:hover {
      background-color:rgb(255, 255, 255);
      color: rgba(244, 91, 105, 1);
      border: solid;
      border-color: rgba(244, 91, 105, 1);
      border-width: 2px;
  }


@include keyframes (wawes) {
  from { @include transform(rotate(0)); }
  to { @include transform(rotate(360deg)); }
}

a{
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10;
	color:rgba(244, 91, 105, 1)
}



/*************[ TIC TAC TOE ]***************/
.Rotate {
  transform: rotate(180deg);
}

.Board {
  display: flex;
  flex-direction: column;

  margin: 20px 0px 20px 0px;
}

.Row {
  display: flex;
  flex-direction: row;
}



.TicTacToeSquare {
  width: 133px;
  height: 133px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid white 5px;
  border-color:rgba(244, 91, 105, 1); 
  border-style: solid;
  border-width: 1px;
}

.TicTacToeBackground {
  background-color: rgb(255, 255, 255);
}

.TicTacToeSquare .Cross {
  font-size: 4rem;
  color: greenyellow;
}

.TicTacToeSquare .Circle {
  font-size: 4rem;
  color: orange;
}






